<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Rediti</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div id="container">
        {% block body%}{%endblock%}
    </div>
    <footer>
        <span>Rediti feito nas férias de alto impacto</span>
    </footer>
</body>
</html>