.navbar {
    display: flex;
    background-color: rgb(211, 253, 114);
    color: black;
    align-content: space-between;
}

body {
    margin: 0px;
}

.container {
    margin: 10px;
}

.links-list li {
    text-decoration: none;
}

#user {
    text-align: center;
}

footer {
    bottom: 0px;
}

span {
    text-align: center;
}